<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Mussum Ipsum, cacilds vidis litro abertis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.Aenean aliquam molestie leo, vitae iaculis nisl.Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> felipessantana20@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i> (71) 98845-1126</li>
                <li><i class="fa-brands fa-whatsapp"></i>(71) 988451126</li>
                
                
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os diereitos reservados 
    </section>
</footer>

